server:
  port: 8070
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone:
        https://${eureka.instance.hostname}:${server.port}/eureka/

spring:
  application:
    name: licensing-service

  config:
    import: "optional:configserver:http://localhost:8871"
